{{!-- STYLE SHEET --}}
<link rel="stylesheet" href="/CSS/userprofile.css">
<link rel="stylesheet" href="/CSS/starRadio.css">

{{!-- PROFILE CONTAINERS --}}
<div class="profile-container row">

  {{!-- REVIEWS CONTAINER --}}
  <div class="col-6">
    <h2 class="userBoxes">Reviews</h2>
    <div id="accordion">
      {{!-- RENDERS EACH EXPANDABLE REVIEW --}}
      {{#each parsedUserData.[0].reviews as |review|}}
      <div class="card expandable">
        <div class="card-header row">
          <h5 class="mb-0 col-10">
            <button class="btn btn-link titlebtn" id="edit-trigger-{{id}}" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}"
              aria-bs-expanded="false" aria-controls="collapse{{id}}">
              {{title}}
            </button>
          </h5>
        </div>
        <div id="collapse{{id}}" class="accordion-collapse collapse" aria-bs-labelledby="heading{{id}}" data-bs-parent="#accordion">
          <div class="card-body">
            <h6 class="revealedLabel">Content:</h6>
            <p name="" id="123" cols="75" rows="15">{{content}}</p>
            <br><br><br>
            <h6>Rating: <span class="hideMe" id="interact{{id}}">{{rating}}</span> </h6>
            {{!-- STAR RADIO BUTTONS --}}
            <div class="starRating">
              <div class="rating">
                <input type="radio" class="star5" id="star5-{{id}}" name="rate" value="5" />
                <label title="Excellent!" for="star5-{{id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path
                      d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                    </path>
                  </svg>
                </label>
                <input value="4" name="rate" id="star4-{{id}}" class="star4" type="radio" />
                <label title="Great!" for="star4-{{id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path
                      d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                    </path>
                  </svg>
                </label>
                <input value="3" name="rate" id="star3-{{id}}" class="star3" type="radio" />
                <label title="Good" for="star3-{{id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path
                      d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                    </path>
                  </svg>
                </label>
                <input value="2" name="rate" id="star2-{{id}}" class="star2" type="radio" />
                <label title="Okay" for="star2-{{id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path
                      d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                    </path>
                  </svg>
                </label>
                <input value="1" name="rate" id="star1-{{id}}" class="star1" type="radio" />
                <label title="Bad" for="star1-{{id}}">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                    <path
                      d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z">
                    </path>
                  </svg>
                </label>
              </div>
            </div>
            <br><br><br>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- FAVORITES CONTAINER --}}
  <div class="col-6">
    <h2 class="userBoxes">Favorites</h2>
    <div class="favorites-box">
      {{!-- RENDERS EACH FAVORITE --}}
      {{#each parsedUserData.[0].favorite as |favorite|}}
      <div class="favorite-movie">
        <img src="{{poster}}" alt="Movie Poster" class="poster">
        <h3>{{name}}</h3>
      </div>
      {{/each}}
    </div>

    {{!-- WATCHLIST CONTAINER --}}
    <h2 class="userBoxes">Watchlist</h2>
    <div class="watchlist-box">
      {{#each parsedUserData.[0].watch_list as |watchlist|}}
      <div class="watchlist-item">
        <img src="{{poster}}" alt="Movie Poster" class="poster">
        <h3>{{name}}</h3>
      </div>
      {{/each}}
      <!-- More watchlist items as needed -->
    </div>
  </div>
</div>

{{!-- PROFILE/HOME BUTTON --}}
<div class="header-icons">
  <a href="/profile" class="user-button"><i class="fas fa-user"></i></a>
  <a href="/" class="home-button"><i class="fas fa-home"></i></a>
</div>


{{!-- FAVORITE MODAL --}}
<div class="modal fade" id="favorite" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="search-box">
          <div class="search-field">
            <input placeholder="Search For Movies" id="favoriteMovieSearch" class="input" type="text">
            <div class="search-box-icon">
              <button class="btn-icon-content" id="Favoritesearch">
                <i class="search-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <path
                      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                      fill="#fff"></path>
                  </svg>
                </i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn-close nukeAfterClose" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeReload" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- WATCHLIST MODAL --}}
<div class="modal fade" id="watchlist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="search-box">
          <div class="search-field">
            <input placeholder="Search For Movies" id="watchlistMovieSearch" class="input" type="text">
            <div class="search-box-icon">
              <button class="btn-icon-content" id="watchlistSearch">
                <i class="search-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                    <path
                      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                      fill="#fff"></path>
                  </svg>
                </i>
              </button>
            </div>
          </div>
        </div>
        <button type="button" class="btn-close nukeAfterClose" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body2">
        <h6>Click a movie poster to add it to your watchlist</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeReload2" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- TOAST --}}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

{{!-- JS SCRIPTS --}}
{{!-- <script src="/JS/profile.js"></script> --}}
<script src="/JS/SearchedUserLogic.js"></script>