{{!-- STYLE SHEET --}}
<link rel="stylesheet" type="text/css" href="/CSS/header-buttons.css">

{{!-- STYLING --}}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #121212;
        color: #ffffff;
        margin: 0;
        padding: 20px;
    }

    .movie-container {
        display: flex;
        align-items: flex-start;
        margin-top: 45px;
    }

    .movie-poster {
        position: sticky;
        top: 50px;
        flex: 1;
        padding-right: 20px;
    }

    .movie-poster img {
        position: sticky;
        top: 20px;
        max-width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .movie-details {
        flex: 3;
    }

    .movie-details>div {
        background-color: #1a1a1a;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #ccc;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #000000;
        color: #ffffff;
        margin: 0;
        padding: 0px;
    }

    .review-container {
        margin-bottom: 32px;
    }

    .review-container h1,
    .movie-name {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: #ec8be2;
        margin-bottom: 16px;
        text-align: left;
    }

    .review {
        background-color: #2d3748;
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        transition: transform 200ms;
    }

    .review:hover {
        transform: scale(1.05);
    }

    .review h2 {
        font-size: 1.25rem;
        font-weight: 700;
        color: #ec8be2;
        margin-bottom: 8px;
    }

    .review p {
        display: inline-block;
        white-space: normal;
        word-wrap: break-all;
        color: #cbd5e0;
    }

    @media screen and (max-width: 768px) {
        .movie-container {
            flex-direction: column;
            align-items: center;
        }

        .movie-details {
            max-width: 100%;
            flex-basis: auto;
        }

        .movie-poster {
            text-align: center;
            position: static;
            max-width: 75%;
            padding: 0%;
            margin: 15px;
        }

        .movie-name {
            min-width: 100%;
            font-size: 125%;
            text-align: center;
        }
    }
</style>

<body>
    {{!-- MOVIE POSTER --}}
    <div class="movie-container">
        <div class="movie-poster">
            <img src="{{dataToRender.poster}}" alt="">
        </div>
        <div class="movie-details">
            <div class="review-container">
                <div class="row">
                    <p class="movie-name col-6">{{dataToRender.name}}</p>
                    <p class=" movie-name average-rating col-6"></p>
                </div>
                {{!-- EACH REVIEW --}}
                {{#each dataToRender.reviews as |review|}}
                <div class="review">
                    <h2>{{title}}</h2>
                    <p>{{content}}</p>
                    <div class="rating" id="{{rating}}">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- PROFILE/HOME BUTTONS --}}
    <a href="/" class="home-button"><i class="fas fa-home"></i></a>

    {{!-- JS SCRIPTS --}}
    <script src="/JS/searchedMovieLogic.js"></script>
</body>